flask
pyngrok
whisper
torch
torchaudio
librosa
noisereduce
soundfile
numpy
scipy
matplotlib
TTS
gtts
requests
flask-cors
flask-ngrok
google-cloud-texttospeech
google-cloud-translate
transformers
datasets
